.error{
   margin-bottom: 2em;
   background-color: rgb(248, 183, 189);
  padding: 10px;
  color: darkred;
  border: 1px solid black;
  border-radius: 4px;
}

.header{
    font-weight: bold;
    font-size: large;
}


.sucess{
    margin-bottom: 2em;
    background-color:green;
   padding: 10px;
   color: lightgreen;
   box-shadow: 3px 6px 7px lightgreen;
}

